html {
  height: 100%;
  min-height: 100%;
}

body {
  font: 32px/49px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-weight: 100;
  margin: 0;
}

a {
  font-weight: 700;
}

a:link, a:visited {
  text-decoration: none;
  text-transform: none;
  color: #0554db;
  -webkit-transition:color 200ms ease-in-out;
  -moz-transition:color 200ms ease-in-out;
  -o-transition:color 200ms ease-in-out;
  transition:color 200ms ease-in-out;
}

a:hover {
  color: #8180ff;
}

#bio {
  margin: 0;
}

#page {
  margin: 33px 50px;
  float: left;
}
