html {
	background-image: url(../images/bg.png);
}

#wrapper {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -86px 0 0 -100px;
	width: auto;
}

#photo {
	display: inline;
	float: left;
}

#links {
	display: inline;
	float: right;
}

ul {
	list-style: none;
	width: auto;
}

a {
	text-decoration: none;
	color: inherit;
}